<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Portfolio
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Portfolio <br>
      <small style="color:red" *ngIf="user.verified === null">This profile is not verified by us yet.</small>
    </h1>

    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Portfolio </li>
    </ol> -->

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8" >
        <div *ngIf="user.dp === null else dp">
          <img class="img-fluid" src="assets/images/profile.png" alt="">
        </div>
        <ng-template #dp>
          <img class="card-img-top porto" src="assets/images/individual/1.jpg" alt="">
        </ng-template>
      </div>
      
      <div class="col-md-4">
        <h3 class="my-3">User Description</h3>
        <h4>{{user.fullname | titlecase }}</h4>
        <p>{{user.description}}</p>
        <h3 class="my-3">User Details</h3>
        <p><i class="fa fa-user"></i> {{user.height}}, {{user.zodiac}}</p>
        <p><i class="fa fa-birthday-cake"></i> Born on : {{user.dob}}</p>
        <p><i class="fa fa-mars-double"></i> {{user.relationship_status}}</p>
        <p><i class="fa fa-map-marker"></i> {{user.city | titlecase}}, {{user.state | titlecase}}, {{user.country | titlecase}}</p>
        <p><i class="fa fa-briefcase"></i> {{user.occupation | titlecase}}, {{user.profile | titlecase}}</p>
        <p><i class="fa fa-cutlery"></i> {{user.eating_habits}}</p>
        <p><i class="fa fa-tint"></i> Blood Group : {{user.blood_group}}</p>
        <p><i class="fa fa-graduation-cap"></i> Highest Education : {{user.highest_education}}</p>
        <p><i class="fa fa-smile-o"></i> Hobbies : {{user.hobbies}}</p>
        <p><i class="fa fa-smile-o"></i> Interest : {{user.interest}}</p>
        <p><i class="fa fa-female"></i> Mother Tongue : {{user.mother_tongue}}</p>
        <p><i class="fa fa-users"></i> No. of family memberse : {{user.no_of_family_members}}</p>
        <p><i class="fa fa-id-badge"></i> Religion : {{user.religion}}</p>
        <p><i class="fa fa-id-card"></i> caste : {{user.caste}}</p>
        <p><i class="fa fa-user-circle"></i> Complexion : {{user.complexion}}</p>
        <p><i class="fa fa-money"></i> Annual Income : {{user.annual_income}}</p>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <!-- <a href="#"> -->
          <img class="img-fluid porto" src="assets/images/individual/2.jpg" alt="">
        <!-- </a> -->
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <!-- <a href="#"> -->
          <img class="img-fluid porto" src="assets/images/individual/3.jpg" alt="">
        <!-- </a> -->
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <!-- <a href="#"> -->
          <img class="img-fluid porto" src="assets/images/individual/4.jpg" alt="">
        <!-- </a> -->
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <!-- <a href="#"> -->
          <img class="img-fluid porto" src="assets/images/individual/5.jpg" alt="">
        <!-- </a> -->
      </div>


    </div>
    <!-- /.row -->

  </div>

  <footer class="py-5 bg-dark">
    <div class="container footer">
        <div class="row">
            <div class="col-xs-4">
                <ul>
                    <li><a href="#" target="_blank">About us</a></li>
                    <li>Careers</li>
                    <li>Sitemap</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul>
                    <li>Contact us</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul>
                    <li>Terms of service</li>
                    <li>Privacy policy</li>
                </ul>
            </div>
            
            <p class="m-0 text-center text-white" style="padding-left: 10vw;">Copyright &copy; Ezy Marriage 2020</p>
        </div>
    </div>
  </footer>
</ion-content>
