.image-upload>input {
    display: none;
  }
#file-input{visibility: hidden;}
.profile-form__avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0;float: right;
  }
  .image-upload{text-align: center;}
  .border-none{border:none}