<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('assets/images/slider/2.jpg')">
                    <div class="carousel-caption d-md-block">
                        <h3>First Slide</h3>
                        <p>This is a description for the first slide.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/slider/1.jpg')">
                    <div class="carousel-caption d-md-block">
                        <h3>Second Slide</h3>
                        <p>This is a description for the second slide.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('assets/images/slider/3.jpg')">
                    <div class="carousel-caption d-md-block">
                        <h3>Third Slide</h3>
                        <p>This is a description for the third slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <div class="container">
       
        <div class="border-bottom-1p-c3">
            <h1 class="my-4">Welcome to Ezy Marriage</h1>
            <div class="row center-xs">
                <div class="col-xs-12 col-md-4">
                    <div class="welcome-tab">
                        <!-- <span class="home-why-itm-icn" style="background: url(&quot;https://img2.sangam.com/assets/icons/connection.png&quot;) no-repeat;"></span> -->
                        <i class="fa fa-user-plus fa-4x" aria-hidden="true"></i>
                        <div class="welcome-tab-dsc">
                            <h3 class="welcome-tab-dsc-hd">Find perfect for you</h3>
                            <div class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="welcome-tab">
                        <!-- <span class="home-why-itm-icn" style="background: url(&quot;https://img2.sangam.com/assets/icons/info.svg&quot;) no-repeat;"></span> -->
                        <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
                        <div class="welcome-tab-dsc">
                            <h3 class="welcome-tab-dsc-hd">Get Authenticate  users</h3>
                            <div class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="welcome-tab">
                        <!-- <span class="home-why-itm-icn" style="background: url(&quot;https://img2.sangam.com/assets/icons/match.svg&quot;) no-repeat;"></span> -->
                        <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                        <div class="welcome-tab-dsc">
                            <h3 class="welcome-tab-dsc-hd">Get your Community matches</h3>
                            <div class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="welcome-tab">
                        <!-- <span class="home-why-itm-icn" style="background: url(&quot;https://img2.sangam.com/assets/icons/info.svg&quot;) no-repeat;"></span> -->
                        <i class="fa fa-address-card fa-4x" aria-hidden="true"></i>
                        <div class="welcome-tab-dsc">
                            <h3 class="welcome-tab-dsc-hd">Verified Documents manually</h3>
                            <div class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="welcome-tab">
                        <!-- <span class="home-why-itm-icn" style="background: url(&quot;https://img2.sangam.com/assets/icons/match.svg&quot;) no-repeat;"></span> -->
                        <i class="fa fa-inr fa-4x" aria-hidden="true"></i>

                        <div class="welcome-tab-dsc">
                            <h3 class="welcome-tab-dsc-hd">Free of cost</h3>
                            <div class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="welcome-tab">
                        <!-- <span class="home-why-itm-icn" style="background: url(&quot;https://img2.sangam.com/assets/icons/match.svg&quot;) no-repeat;"></span> -->
                        <i class="fa fa-server fa-4x" aria-hidden="true"></i>
                        <div class="welcome-tab-dsc">
                            <h3 class="welcome-tab-dsc-hd">Easy Registration</h3>
                            <div class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="border-bottom-1p-c3">
            <h1 class="my-4">Our happy clients</h1>
            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header couple-name">Myra <i class="fa fa-heart" aria-hidden="true"></i> Darsh</h4>
                        <div class="card-body">
                            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p> -->
                            <img src="assets/images/testimonial/3.jpg" class="img-fluid">
                        </div>
                        <div class="card-footer">
                            <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header couple-name">Arya <i class="fa fa-heart" aria-hidden="true"></i> Sai</h4>
                        <div class="card-body">
                            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p> -->
                            <img src="assets/images/testimonial/1.jpg" class="img-fluid">
                        </div>
                        <div class="card-footer">
                            <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header couple-name">Divya <i class="fa fa-heart" aria-hidden="true"></i> Aditya</h4>
                        <div class="card-body">
                            <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p> -->
                            <img src="assets/images/testimonial/2.jpg" class="img-fluid">
                        </div>
                        <div class="card-footer">
                            <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="border-bottom-1p-c3">
                    
            <div class="row">
                <h1 class="my-4">Get in touch with us</h1>
                    
                <div class="col-lg-12" style="padding: 15px">
                    <div class="col-lg-8">
                        <div class="col-lg-6" style="margin: 0; float: left;">
                            <input type="text" name="name" placeholder="name" class="form-control">
                        </div>
                        <div class="col-lg-6" style="margin: 0; float: right;">
                            <input type="email" name="email" placeholder="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="padding: 15px">
                    <div class="col-lg-8">
                        <div class="col-lg-12">
                            <textarea class="form-control" placeholder="write something here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="padding: 15px">
                    <div class="col-lg-8">
                        <div class="col-lg-4">
                            <input type="submit" name="submit" value="Submit your query" class="form-control feedbck-form">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row margin-top-30">
            <div class="col-lg-6">
                <h2 class="my-4">Ezy Marriage Features</h2>
                <p>The Ezy Marriage includes fetures like:</p>
                <ul>
                    <li>Free to use</li>
                    <li>Easy Registration</li>
                    <li>User can connect with authenticate users</li>
                    <li>Documents of users can show once you connext with them</li>
                    <li>24*7 chat service </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="assets/images/features.jpg" alt="">
            </div>
        </div>

        <hr>

        <div class="row mb-4">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block call-to-action" href="#">Call to Action</a>
            </div>
        </div>

    </div>

    <footer class="py-5 bg-dark">
        <div class="container footer">
            <div class="row">
                <div class="col-xs-4">
                    <ul>
                        <li><a href="#" target="_blank">About us</a></li>
                        <li>Careers</li>
                        <li>Sitemap</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul>
                        <li>Contact us</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul>
                        <li>Terms of service</li>
                        <li>Privacy policy</li>
                    </ul>
                </div>
                
                <p class="m-0 text-center text-white" style="padding-left: 10vw;">Copyright &copy; Ezy Marriage 2020</p>
            </div>
        </div>
    </footer>
   
</ion-content>
